<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link
      rel="apple-touch-icon"
      href="{{url_for('static', filename='img/logo-icon-mobile.png')}}"
    />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/css/bootstrap-colorpicker.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>{% block title %}DartsClub{% endblock %}</title>
    <meta name="description" content="DARTS CLUB" />
    <meta name="googlebot" content="index,follow" />
    <meta name="author" content="milanmartis" />
    <meta property="fb:pages" content="115401168589113" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="DARTS CLUB" />
    <meta property="og:description" content="Play with sparings" />
    <meta
      property="og:image"
      content="{{url_for('static', filename='img/logo.png')}}"
    />
    <meta
      property="og:url"
      content="https://darts-club-g2oik2cmrq-ew.a.run.app"
    />
    <meta property="og:locale" content="sk_SK" />
    <meta property="og:site_name" content="DARTS CLUB" />
  </head>
  <body>
    
    {% if current_user.id %}

    <div class="container w-200">
      <nav class="navbar navbar-expand navbar-dark fixed-bottom">
        <div class="navbar w-100 order-1 dual-collapse2">
          <ul class="navbar-nav">

            <li class="nav-item">
              <a href="/home" class="nav-item nav-link">Standings</a>
            </li>
            <li class="nav-item">
              |
            </li>
            <li class="nav-item">
              <a href="/season" class="nav-item nav-link">
                Seasons
              </a>
            </li>
            <li class="nav-item">
              |
            </li>
            <li class="nav-item">
              <a href="{{ url_for('views.duel_view', season=1, group=18, round=4) }}" class="nav-item nav-link">
                Duels
              </a>
            </li>

 
          </ul>
        </div>
        <div class="navbar-dark brand"></div>
        <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="#"></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".dual-collapse2"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse order-3 dual-collapse2 justify-content-end" style="text-aling:right; float:right;">
          <ul class="navbar-nav  text-end">
            <li
              class="nav-item justify-content-end"
            >
              <a href="{{ url_for('auth.user_details') }}">
                <i class="fa fa-user fa-sm" style="font-size:116%;padding:8px;"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      {% endif %}
      
      {% with messages = get_flashed_messages(with_categories=true)
      %} {% if messages %} {% for category, message in messages %} {% if
      category == 'error' %}
      <div class="alert alert-danger alter-dismassable fade show" role="alert">
        <div class="alert {{ category }}">{{ message|capitalize }}</div>
      </div>
      {% else %}
      <div class="alert alert-success alter-dismassable fade show" role="alert">
        <div class="alert {{ category }}">{{ message|capitalize }}</div>
      </div>

      {% endif %} {% endfor %} {% endif %} {% endwith %} {% block content %} {%
      endblock %} {% include "footer.html" %}
    </div>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/js/bootstrap-colorpicker.min.js"></script>


  </body>
</html>
