{% extends "base.html" %} {% block title %}DartsClub - Duel{% endblock %} {%
block content %}
<h1 align="center">
  <div class="container-fluid pl-0 pr-0">
    <div class="row justify-content-center mb-6">
      <button
        onclick="GoBackWithRefresh();return false;"
        class="btn4 btn-outline-dark mt-4 shadow-none"
      >
        BACK
      </button>
    </div>
  </div>
  <br />
  <img
    src="{{ url_for('static', filename='img/matchup.svg') }}"
    class="filter-green"
    width="220"
  />
</h1>
<div class="container-fluid pl-2 pr-8 readinglazy">
  <div class="row justify-content-center text-center">

    
    {% for player in duel %}
    <div valign="middle" align="center" class="col">
      <form
      method="POST"
      id="updateResult[{{loop.index}}]"
      action="javascript:;"
      >
      <input
      type="hidden"
      id="duel_id[{{loop.index}}]"
      name="duel_id[{{loop.index}}]"
      value="{{player[6]}}"
      />
      <input
      type="hidden"
      id="user_duel_id[{{loop.index}}]"
      name="user_duel_id[{{loop.index}}]"
      value="{{player[4]}}"
        />
        {{duel[0][0]}}
        {% if not user.id in [player[4], adminz[0], adminz[1]] %} {% set
          disabled= "disabled" %}{% set conf= "btn-result" %}{% else %}{% set
            disabled= "" %} {% set conf= "btn-result" %} {% endif %}
            {% if user.id in [duel[0][0], duel[1][0], adminz[0], adminz[1]] %} {% set disable1 = "" %}{% else %}{% set disable1 = "disabled'" %} {% endif %} 
        <select
          class="custom-select"
          id="user_duel_result[{{loop.index}}]"
          id="user_duel_result[{{loop.index}}]"
          name="user_duel_result[{{loop.index}}]"
          style="height: 140px;"
        >
          {% for o in range(7) %} {% if player[2] == o %}
          <option value="{{o}}" selected>{{o}}</option>
          {% else %}
          <option value="{{o}}">{{o}}</option>
          {% endif %} {% endfor %}
        </select>
        <!-- <input
          class="form-control form-control-lg resultscore"
          type="number"
          id="user_duel_result[{{loop.index}}]"
          name="user_duel_result[{{loop.index}}]"
          autocomplete="off"
          value="{{player[2]}}"
          style="height: 140px;"
        /> -->
        <h1 id="player-name-result[{{loop.index}}]">
          {{player[1] | upper | replace("_"," ")}}
        </h1>
        <button
          type="submit"
          {{disabled}}
          style="display:{{hidden}}"
          class="{{conf}} btn-outline-dark mt-4 btn-block shadow-none text-center"
          onClick="updateDuel2({{loop.index}})"
          id="updateDuelButton[{{loop.index}}]"
        >
          SUBMIT
        </button>
        <br />
        <div class="conntainer mt-20">
          <div class="row justify-content-center pt-20">
            <form method="POST" id="checkForm[{{loop.index}}]">
              <br />
              <input
                type="hidden"
                id="duel[{{loop.index}}]"
                name="duel[{{loop.index}}]"
                value="{{player[6]}}"
              />
              <input
                type="hidden"
                id="player[{{loop.index}}]"
                name="player[{{loop.index}}]"
                value="{{player[4]}}"
              />
              {% if not user.id in [player[4], adminz[0], adminz[1]] %} {% set
              dis = "disabled" %} {% endif %} {% if player[5] == 'false' or
              player[5] == null or player[5] == '' %} {% set ch = "unchecked"
              %}{% set confirm = "confirm" %} {% else %} {% set ch = "checked"
              %} {% set confirm = "" %} {% endif %}
              <input
                type="checkbox"
                class="form-control-check"
                {{ch}}
                {{disabled}}
                id="checked[{{loop.index}}]"
                name="checked[{{loop.index}}]"
                value="{{player[5]}}"
                onClick="updateDuel({{loop.index}})"
              />
            </form>
          </div>
          <div id="confirmed[{{loop.index}}]">
            <h4>
              {{confirm}}
            </h4>
          </div>
        </div>
      </form>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
