{% extends "base.html" %} {% block content %} {% block duels_filter %}

<h1 align="center">
  <img
    src="{{ url_for('static', filename='img/duels.svg') }}"
    class="filter-green"
    width="250"
  />
</h1>
<h6><a href="{{url_for('views.season_manager', season=season_obj.id)}}">{{season_obj.name}}</a> | Round #{{round}}</h6>
{% if groups %}
<div class="container readinglazy" align="center">
  <div class="row" style="display:block;max-width:360px; text-align: center;">

    {% set groupz = request.args.get('group') %}
      <div
        id="carouselTabs"
        class="carousel slide"
        data-bs-ride="carousel" data-bs-touch="true" data-bs-interval="false"
      >
          <div class="carousel-indicators">
            
            {% for gro in groups %}
            {% if groupz|int == gro.id %}{% set active2 = 'active' %}{% else %}{% if 1==loop.index and groupz|int < 1 %}{% set active2 = 'active' %}{% else %}{% set active2 = '' %}{% endif %}{% endif %}
            <button type="button" class="btn text {{active2}}" data-bs-target="#carouselTabs" data-bs-slide-to="{{loop.index0}}" aria-label="Slide {{loop.index}}">{{gro.shorts}}</button>
            {% endfor %}
          </div>
          <center>
            <div class="carousel-inner carouse-duels-height">
            {% for g in groups %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}"  style="align-items: center;height: fit-content;">
              {% for duell in duels %} 
              
              <div class="container readinglazy" align="center">
                <div class="row" style="display:block;max-width:320px; text-align: center;">
                  {% for duel in duell %} 
                  {% if duel.groupy[0].groupz_id == g.id %}
                  {% if not user.id in [duel.useride[0].user_id,
                    duel.useride[1].user_id, adminz[0], adminz[1]] %} {% set disabled =
                    "disabled" %} {% else %} {% set disabled = "" %} {% endif %} {% if 'true' ==
                    duel.checking[0].checked and 'true' == duel.checking[1].checked %} {% set
                    checked = "btn btn-outline-dark btn-block shadow-none" %} {% else %} {% set
                    checked = "btn2 btn-outline-dark btn-block shadow-none" %} {% endif %}

              
                  <div valign="middle" align="center"  class="col-12">
                    <form method="POST" action="javascript:;">
                      <input type="hidden" id="duelz" name="duelz" value="{{duel.duel_id}}" />
                      <button id="location_href_season/{{season}}/duel/{{duel.duel_id}}" name="location_href_season/{{season}}/duel/{{duel.duel_id}}" onclick="locationHref('season/{{season}}/duel/{{duel.duel_id}}')" type="submit" {{disabled}} class="{{checked}}">
                        <div class="row">
                              <div class="col-5" style="text-align: right;padding: 0px; margin: 0px;">
                                
                                {{duel.player[0].first_name | upper }}
                              </div>
                              <div class="col-2" style="text-align: center;padding: 0px; margin: 0px;">
                                
                               {{duel.result_[0].result}} : {{duel.result_[1].result}} 
              
                              </div>
                              <div class="col-5" style="text-align: left;padding: 0px; margin: 0px;">
                               {{duel.player[1].first_name | upper}}
              
                              </div>
                        </div>
                      </button>
                    </form>
                  </div>
              
                  {% endif %}
                  {% endfor %}
                  
                  
                  
                  
                </div>
              </div>
              {% endfor %}
              </div>
              {% endfor %}
          </div>
      </div>
        
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>NO GROUPS YET</h1>
    </div>
  </div>
</div>
{% endif %}



<br />
<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      {% for duel in duels %} 
      <h1>
        {% if loop.index == 1 %}A{% endif %}
        {% if loop.index == 2 %}B1{% endif %}
        {% if loop.index == 3 %}B2{% endif %}
        {% if loop.index == 4 %}C1{% endif %}
        {% if loop.index == 5 %}C2{% endif %}
      </h1>
      {% endfor %}
    </div>
  </div>
</div> -->
{% if duels %}

{% else %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>NO DUELS YET</h1>
    </div>
  </div>
</div>
{% endif %}

{% endblock %} {% endblock %}