{% if user.id %}
<h1 align="center">
    <img
      src="{{ url_for('static', filename='img/my-duels.svg') }}"
      class="filter-green"
      width="200"
    />
  </h1>
<div class="container readinglazy">
  <div class="row">
    {% for duel in duels %} {% if user.id in [duel.useride[0].user_id,
    duel.useride[1].user_id, adminz[0], adminz[1]] %}
    {% if 'true' ==
    duel.checking[0].checked and 'true' == duel.checking[1].checked %} {% set
    checked = "btn btn-outline-dark btn-block shadow-none" %} {% else %} {% set
    checked = "btn2 btn-outline-dark btn-block shadow-none" %} {% endif %}

    <div class="col-12">
      <form method="POST" action="javascript:;">
        <input type="hidden" id="duelz" name="duelz" value="{{duel.duel_id}}" />
        <button id="location_href_season/1/duel/{{duel.duel_id}}" name="location_href_season/1/duel/{{duel.duel_id}}" onclick="locationHref('season/1/duel/{{duel.duel_id}}')" type="submit" {{disabled}} class="{{checked}}">
          <div class="row">
            <div class="col-1" style="text-align: center;"></div>
            <div class="col-10" style="text-align: center;">
              {{duel.player[0].first_name | upper }} {{duel.result_[0].result}} : {{duel.result_[1].result}} {{duel.player[1].first_name | upper}}
            </div>
            <div class="col-1" style="text-align: center;"></div>
          </div>
        </button>
      </form>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>NO DUELS YET</h1>
    </div>
  </div>
</div>
{% endif %}