{% extends "base.html" %} {% block title %}DartsClub - Season{% endblock %} {%
  block content %}
  {% set lang = 0 %}

  <h1 align="center">
    <img
    src="{{ url_for('static', filename='img/rounds.svg') }}"
    class="filter-green"
    width="250"
    /><br>
  {% if seasons %}
  <h2>{{seasons[0][0].name}}</h2>
  {% else %}
  <h2>{{seas.name}}</h2>
  {% endif %}
  
  {% if players|length==0 %}
  <h4>{{dic.no_active_players_text[lang]}}</h4>
  {% else %}
  <h4>{{players|length}} Active players</h4>
  {% endif %}
</h1>
{% if seas %}
{% if seasons %}
<div class="container readinglazy" align="center">
  <div class="row" style="display:block;max-width:320px; text-align: center;">
    {% for season in seasons %}
    {% set num = season[1].open %}
    <div valign="middle" align="center"  class="col-12" style="{% if num == false %}opacity:0.5;{% endif %}">
      <form method="POST">
        <input type="hidden" id="season" name="season" value="{{season[0].id}}" />
        <input type="hidden" id="round" name="round" value="{{season[1].id}}" />
        <button
          id="season_round"
          name="season_round"
          type="submit"
          class="btn btn-outline-dark btn-block shadow-none"
        >
         Round #{{season[1].id}}

        </button>
      </form>
    </div>

    
    {% endfor %}
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>NO ROUNDS YET</h1>
    </div>
  </div>
</div>
<br>

<!-- PLAYERS IN SEASON - ADD / DELETE -->
{% for player in players_wait %}
{% if user.id==player.id or user.id in [adminz[0]] %}{% set dis = '' %}{% else %}{% set dis = 'disabled' %}{% endif %}
<div id="playerin{{loop.index}}" class="container readinglazy" align="center">

  <div class="row" style="display:block;max-width:320px; text-align: center;">
    <div class="col">
      <button 
      {{dis}}
        type="submit" 
        id="playerout" 
        name="playerout" 
        class="btn btn-sm" 
        style="text-transform: uppercase;" 
        onclick="javascript:getOutPlyer({{season}},{{player.id}},{{loop.index}});" 
        value="{{player.id}}">{{player.first_name}}
      </button>
    </div>
  </div>
</div>
<div
class="modal fade"
id="playerout-delete{{loop.index}}"
tabindex="-1"
role="dialog"
aria-labelledby="deleteModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h1 class="modal-title" py run.py>Remove from Season?</h1>
     <br>
      <form
        action="{{ url_for('views.season_player_delete', player=player.id, season=season) }}"
        method="POST"
      >
        <button oclick="javascript:getOutPlyerDelete({{season}},{{player.id}},{{loop.index}});" class="btn2 btn-sm" style="font-weight: 700;padding-left: 10px;padding-right: 10px;padding-top: 4px;"  type="submit" value="OK" />REMOVE</button>
      </form>
      <button onclick="" style="font-weight: 700;" type="button" class="btn3 btn-sm" data-bs-dismiss="modal">
        NO
      </button>

    </div>
  </div>
</div>
</div>
{% endfor %}


{% if not user in players_wait %}
<div class="container readinglazy" align="center">
  <div class="row" style="display:block;max-width:320px; text-align: center;">
    <div class="col">
      <form method='POST' action="">
        <button type="submit" id="add_player_to_season" name="add_player_to_season" class="btn btn-reverse" value="{{season}}">+ Join this Season</button>
      </form>
    </div>
  </div>
</div>
{% endif %}





<br>
    
{% if players|length>=5 %}
{% if user.id in [adminz[0]] %}
<div class="container readinglazy" align="center">
  <div class="row" style="display:block;max-width:320px; text-align: center;">
    <div class="col">
      <form method="POST">
        <button style="font-size: 150%;padding: 0px;margin: 4px;" id="round_add" name="round_add" type="submit" class="btn btn-demo btn-block shadow-none" value="11">+ New Round</button>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% else %}
<div class="container readinglazy" align="center">
  <div class="row" style="display:block;max-width:320px; text-align: center;">
    <div class="col">
      <form method="POST">
        <button disabled style="font-size: 150%;padding: 0px;margin: 4px;" type="submit" class="btn btn-demo btn-block shadow-none" value="11">
          <h4 style="color:#010101">{{ 5 - players_wait|length }} players left to new round</h4></button>
        </form>
      </div>
    </div>
  </div>
  
  {% endif %}
<br>
{% if season and user.id in [adminz[0]] %}
<button onclick="#" class="btn btn-sm createforms2" />Update</button>
{{players_wait|length}}
{% if players_wait|length < 0 %}
<button id="season_delete" name="season_delete"  class="btn btn-sm createforms2" value="{{season}}" />Delete</button>
{% else %}
<button disabled class="btn btn-sm createforms2" value="{{season}}" />Delete</button>
{% endif %}
{% endif %}

{% endif %}
<br>
<br>
<button onclick="javascript:location.href='{{ url_for('views.season_list') }}';" class="btn btn-sm createforms2" />Back</button>
<div class="container" style="display: none;">
  {% if user.id in [adminz[0]] %}
  <div class="col-12">
    <div class="container">
      <form method="POST">
        <div align="center">
          <input
          type="hidden"
            id="ide_season"
            name="ide_season"
            value="1"
            />
            <button
            id="ide_season_button"
            name="ide_season_button"
            type="submit"
            class="btn-demo btn-outline-dark btn-block shadow-none"
            >
            <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
            <font style="font-size: 120%;">{{'Create New Season'}}</font>
          </button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
  {% else %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>SEASON DOESN'T EXIST</h1>
      </div>
    </div>
  </div>
  
  {% endif %}
</div>

  <div
  class="modal fade"
  id="season-delete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title" py run.py>Delete „{{seas.name}}“?</h1>
       <br>
        <form
          action="{{ url_for('views.season_delete', season=season) }}"
          method="POST"
        >
          <button class="btn2 btn-sm" style="font-weight: 700;padding-left: 10px;padding-right: 10px;padding-top: 4px;"  type="submit" value="OK" />DELETE</button>
        </form>
        <button style="font-weight: 700;" type="button" class="btn3 btn-sm" data-bs-dismiss="modal">
          NO
        </button>

      </div>
    </div>
  </div>
</div>

{% endblock %}
