{% extends "base.html" %} {% block title %}DartsClub - Season{% endblock %} {%
block content %}
{{user}}
<h1 align="center">
  <img
    src="{{ url_for('static', filename='img/rounds.svg') }}"
    class="filter-green"
    width="250"
  /><br>
  {{seasons[0][0].name}}
</h1>
{% if seasons %}
<div class="container readinglazy" align="center">
  <div class="row" style="display:block;max-width:320px; text-align: center;">
    {% for season in seasons %}
    {% set num = season[1].open %}
    <div valign="middle" align="center"  class="col-12" style="{% if num == false %}opacity:0.5;{% endif %}">
      <form method="POST">
        <input type="hidden" id="season" name="season" value="{{season[0].id}}" />
        <input type="hidden" id="round" name="round" value="{{season[1].id}}" />
        <button
          id="season_round"
          name="season_round"
          type="submit"
          class="btn btn-outline-dark btn-block shadow-none"
        >
         Round #{{season[1].id}}

        </button>
      </form>
    </div>

    {% if user.id in [adminz[0], adminz[1]] %}

    {% endif %} {% endfor %}
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>NO SEASON YET</h1>
    </div>
  </div>
</div>

{% endif %}
<br>
<div class="container" style="display: none;">
  {% if user.id in [adminz[0], adminz[1]] %}
  <div class="col-12">
    <div class="container">
      <form method="POST">
        <div align="center">
          <input
            type="hidden"
            id="ide_season"
            name="ide_season"
            value="1"
            />
            <button
            id="ide_season_button"
            name="ide_season_button"
            type="submit"
            class="btn-demo btn-outline-dark btn-block shadow-none"
          >
            <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
            <font style="font-size: 120%;">{{'Create New Season'}}</font>
          </button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
</div>
 {% endblock %}
