{% extends "base.html" %} {% block title %}User Page{% endblock %} {% block
content %}
<br />
<div class="container">
  <div class="row">
    <div valign="middle" align="center" class="col-sm-12">
      <img
        src="{{ url_for('static', filename='img/my-account.svg') }}"
        width="250"
        class="filter-green"
      />
      <br />

      <form method="POST">
        <h3 align="center"></h3>
        <div class="form-group">
  
            <h5>
            User Id
          </h5>
 

          <h1 style="margin-top:-20px;">
            {{user.email }}
          </h1>
        </div>
        <div class="form-group">
          <input
            type="hidden"
            id="useride"
            name="useride"
            value="{{user.id}}"
          />
          <!-- <label for="first_name">Nick Name</label> -->
          <input
            type="text"
            class="form-control"
            autocomplete="off"
            id="first_name_update"
            name="first_name_update"
            placeholder="Nick Name"
            value="{{ user.first_name }}"
          />
        </div>
        <div class="form-group">
          <!-- <label for="password_old">Old Password</label> -->
          <input
            type="password"
            class="form-control"
            id="password_old"
            name="password_old"
            placeholder="Old Password"
            value=""
          />
        </div>
        <div class="form-group">
          <!-- <label for="password1">New Password</label> -->
          <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="New Password"
            value=""
          />
        </div>
        <div class="form-group">
          <!-- <label for="password2">New Password (Confirm)</label> -->
          <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="New Password (Confirm)"
            value=""
          />
        </div>
        <br />
        <button type="submit" class="btn-demo btn-outline-dark btn-block">
          SUBMIT
        </button>
      </form>
    </div>
    <div class="col-12 justify-content-center text-center">
      <br>

      <br>
      <h6>
        <a class="btn2 nav-item nav-link" href="logout">LOGOUT</a>
      </h6>
    </div>

    <!-- <div align="center" class="col-sm-6 pt-20 align-self-center">
      <img
        src="{{ url_for('static', filename='img/aim.svg') }}"
        width="94%"
        class="filter-green"
      />
    </div> -->
  </div>



  
</div>

{% endblock %}
