{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<div style="background:transparent !important" class="jumbotron vertical-center">
  <div class="container">
    <div class="row row align-items-center text-light">
      <div valign="middle" class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
        <h1 align="center">
          <img
            src="{{ url_for('static', filename='img/signup.svg') }}"
            width="260"
            class="filter-green"
          />
        </h1>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 mt-34">
        <form method="POST" action="{{ url_for('auth.register', next=request.endpoint) }}">
          <h3 align="center"></h3>
          <div class="form-group">
            <!-- <label for="email">Email Address</label> -->
            <input
              type="email"
              class="form-control"
              required
              id="email"
              name="email"
              placeholder="Enter email"
              value="{{ request.form['email'] }}"
            />
          </div>
          <div class="form-group">
            <!-- <label for="first_name">First Name</label> -->
            <input
              type="text"
              class="form-control"
              required
              id="first_name"
              name="first_name"
              placeholder="Enter first name"
              value="{{ request.form['first_name'] }}"
            />
          </div>
          <div class="form-group">
            <!-- <label for="password1">Password</label> -->
            <input
              type="password"
              class="form-control"
              required
              id="password1"
              name="password1"
              placeholder="Enter password"
              value="{{ request.form['password1'] }}"
            />
          </div>
          <div class="form-group">
            <!-- <label for="password2">Password (Confirm)</label> -->
            <input
            type="password"
            class="form-control"
            required
            id="password2"
            name="password2"
            placeholder="Confirm password"
            value="{{ request.form['password2'] }}"
            />
          </div>
          <div class="form-group">
            <select class="btn-demo btn-outline-dark btn-block" id="season_id" name="season_id">
              <option value="0" active>Choose Legue</option>
              <option value="1">First Season</option>
            </select>
          </div>
          <br />
          <button
            type="submit"
            id="location_href_register"
            name="location_href_register"
            class="btn-demo btn-outline-dark btn-block"
          >
            Sign up
          </button>
        </form>
        <div class="col mt-10">
          <h4><a href="login">Login</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
